@font-face {
    font-family: 'IRANYekan';
    src: url('IRANYekan-Medium.woff2') format('woff2'),
        url('IRANYekan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body,button{
    font-family:'IRANYekan';
}